NEXT_PUBLIC_MARKETING_SITE_URL=https://langprephub.com
NEXT_PUBLIC_APP_LOGIN_URL=https://app.langprephub.com/login
NEXT_PUBLIC_APP_REGISTER_URL=https://app.langprephub.com/register
NEXT_PUBLIC_REGION=global
NEXT_PUBLIC_ASSET_BASE_URL=
